@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pokemon_hollowNormal';
    src: url('../fonts/pokemon/pokemon_hollow-webfont.woff2') format('woff2'),
        url('../fonts/pokemon/pokemon_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pokemon_solidNormal';
    src: url('../fonts/pokemon/pokemon_solid-webfont.woff2') format('woff2'),
        url('../fonts/pokemon/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'robotoRegular';
    background-color: #263238;
}

#header {
    background-color: #ef5350;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#homeTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'pokemon_hollowNormal';
    font-size: 20px;
}

#title {
    padding: 2px;
    width: 30%;
    color: white;
}

#searchbar {
    padding: 20px;
    width: 30%;
}

#searchbar input {
    outline: none;
    width: 50%;
    height: 20px;
    border: 2px solid transparent;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#searchbar input:focus {
    width: 70%;
}

#openNav {
    position: fixed;
    right: 0;
    width: 10%;
    padding: 15px;
}

#openNav:hover {
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 7px;
    background-color: white;
    margin: 7px 0;
    transition: 0.4s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#pokeSection {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul,
li {
    list-style-type: none;
}

a {
    width: 100%;
    text-align: center;
}

img {
    width: 100%;
    height: 150px;
}

#pokemon {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}

.poke {
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}


/* ----------------- TEST SIDEBAR ------------------- */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #263238;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 70px;
    font-size: 36px;
}

#main,
#header,
#footer {
    transition: margin-right .5s;
    -webkit-transition: margin-right .5s;
    -moz-transition: margin-right .5s;
    -ms-transition: margin-right .5s;
    -o-transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* -------------- TEST VIEWS SYSTEM ------------- */

#link {
    width: 100%;
    margin-top: 15px;
    background-color: #ef5350;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tablink {
    color: white;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
}

.tabcontent {
    min-height: 80vh;
}

/* ------------------ TEST COLOR ---------------- */

#listColor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testColor {
    width: 10%;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.acier {
    background-color: #50889c;
}

.dragon {
    background-color: #036dc4;
}

.electrik {
    background-color: #f3d239;
}

.feu {
    background-color: #ff9e54;
}

.insecte {
    background-color: #6c8537;
}

.plante {
    background-color: #62bc59;
}

.psy {
    background-color: #ff737c;
}

.sol {
    background-color: #d87943;
}

.tenebre {
    background-color: #5d5668;
}

.combat {
    background-color: #d43f6c;
}

.eau {
    background-color: #5297df;
}

.fee {
    background-color: #da87d3;
}

.glace {
    background-color: #74cfc1;
}

.normal {
    background-color: #929ba3;
}

.poison {
    background-color: #ab6bc9;
}

.roche {
    background-color: #c4b78c;
}

.spectre {
    background-color: #526bb3;
}

.vol {
    background-color: #94afe4;
}

.inconnu {
    background-color: #689a8d;
}

.obscur {
    background-color: #434349;
}

.red {
    background-color: #ef5350;
}

.bg1 {
    background-color: #2b292c;
}

.bg2 {
    background-color: #2f2f2f;
}

.bg3 {
    background-color: #263238;
}

.light {
    color: white;
}

/* fin test */

#footer {
    background-color: #ef5350;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#kirua {
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'pokemon_solidNormal';
}